{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2,
        "regenerator": true
      }
    ],
    ["@babel/plugin-proposal-class-properties", {}, "class-reader"]
  ]
}
